<footer>
  <div class="footer_block">
    <div class="logo">
      <img src="/assets/icons/Group 374.png" width="200px" alt="Dimension Data logo">
    </div>
    <div class="title">
      <h2 class="">If you believe you can do anything, we’re here to help
        you do it</h2>
    </div>
  </div>
  <div class="footer_block2">
    <div class="nav">
      <div>
        <p><a href="">About us</a></p>
        <p><a href="">Office locations</a></p>
        <p><a href="">Contact us</a></p>
      </div>
      <div>
        <p><a href="">Insights</a></p>
        <p><a href="">Latest news</a></p>
        <p><a href="">Careers</a></p>
      </div>
    </div>
    <div class="nav_block">
      <p>Stay Connected</p>
      <div>
        <span><a href="#"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Blog</a></span>
        <span><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></span>
        <span><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></span>
        <span><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></span>
        <span><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube</a></span>
        <span><a href="#"><i class="fa fa-play" aria-hidden="true"></i> BrightTalk</a></span>
      </div>
    </div>
  </div>
  <div class="footer-bott">
    <div class="footer_block3">
      <ul class="mb-0 pl-0">
        <li>Cloud contracts and legal</li>
        <li>Privacy statements</li>
        <li>Sitemap</li>
        <li>Impressum</li>
        <li>Terms of use</li>
        <li>Manage cookies</li>
      </ul>
      <div>
        <span>
          © 2019 Dimension Data All Rights Reserved
        </span>
      </div>
    </div>
  </div>
</footer>