/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: SourceSansPro;
    src: url(assets/fonts/SourceSansPro-Regular.ttf);
  }

  @font-face {
    font-family: Georgia;
    src: url(assets/fonts/911Fonts.com_GeorgiaItalic__-_911fonts.com_fonts_shHZ.ttf);
  }